body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

button {
  border: 1px solid green;
  padding: 10px 15px;
  background-color: forestgreen;
  color: white;
}

button:hover {
  background-color: darkgreen;
  cursor: pointer;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
  border-color: maroon;
}